body {
    font-family: 'Poppins', sans-serif;;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #fdfdfd;
    padding: 20px;
    text-align: center;
}
.header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #ff6347;
}
.nav {
    background-color: #fafafa;
    padding: 10px;
    text-align: center;
}
.nava {
    margin: 0 15px;
    text-decoration: none;
    color: #ff6347;
    font-size: 1.2em;
}
.container {
    padding: 20px;
}
.story-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.story-section h2 {
    color: #ff6347;
}
.story-section p {
    font-size: 1.1em;
    line-height: 1.6;
}
.image-container {
    text-align: center;
    margin: 20px 0;
}
.image-container img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
.image-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.image-row img {
    flex: 1;
    margin: 5px;
    max-width: calc(25% - 10px);
}